@*@model IEnumerable<StoreFront.UI.MVC.Models.CartItemViewModel>*@
@model Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>
@{
    ViewBag.Title = "Shopping Cart";
    decimal? cartTotal = 0;
    int totalCountOfItems = 0;
}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item"><a href="@Url.Action("Index", "MovieTitles")">Shop</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Shopping Cart</li>
                        </ol>
                    </nav>
                </div>
                <div id="basket" class="col-lg-9">
                    <div class="box">
                        <h1>Shopping cart</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th class="update">Quantity</th>
                                        <th>Unit price</th>
                                        <th colspan="2">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("Details", "MovieTitles", new { id = item.Value.Product.MovieID })"><img src="~/Content/img/ProductImages/t_@item.Value.Product.Image" alt="@item.Value.Product.MovieTitle1 Image"></a></td>
                                            <td style="font-size: 0.9em;"><a href="@Url.Action("Details", "MovieTitles", new { id = item.Value.Product.MovieID })">@item.Value.Product.MovieTitle1</a></td>

                                            <td class="update">
                                                @using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
                                                {
                                                    @Html.Hidden("movieID", item.Value.Product.MovieID)
                                                    @Html.TextBox("qty", item.Value.Qty, new { @class = "form-control", style = "max-width: 80px;display:inline-block; " })
                                                    <input type="submit" value="Update" class="btn btn-primary update" style="max-width:150px;" />
                                                }
                                            </td>
                                            @{totalCountOfItems += item.Value.Qty;}
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Value.Product.Price)
                                            </td>
                                            <td>
                                                @{
                                                    decimal? lineTotal = item.Value.Product.Price * item.Value.Qty;
                                                    cartTotal += lineTotal;
                                                }
                                                @string.Format($"{lineTotal:c}")
                                            </td>
                                            <td><i class="fa fa-trash-o"> @Html.ActionLink("Remove", "RemoveFromCart", new { id = item.Value.Product.MovieID })<br /></i></td>
                                        </tr>
                                    }
                            </table>
                        </div>
                        <!-- /.table-responsive-->
                        <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                            <div class="left"><a href="@Url.Action("Index", "MovieTitles")" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Continue shopping</a></div>
                            <div class="right">
                                <button type="submit" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-->
                </div>
                <!-- /.col-lg-9-->
                <div class="col-lg-3">
                    <div id="order-summary" class="box">
                        <div class="box-header">
                            <h3 class="mb-0">Order summary</h3>
                        </div>
                        @*<p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>*@
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    @*<tr>
                                            <td>Order subtotal</td>
                                            <th>@string.Format($"{cartTotal:c}")</th>
                                        </tr>*@
                                    @*<tr>
                                            <td>Shipping and handling</td>
                                            <th>$10.00</th>
                                        </tr>*@
                                    <tr>
                                        <td>Qty</td>
                                        <th>@totalCountOfItems @(totalCountOfItems > 1 || totalCountOfItems == 0 ? "movies" : "movie")</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>@string.Format($"{cartTotal:c}")</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-3-->
            </div>
        </div>
    </div>
</div>