<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    @Styles.Render("~/bundles/css")
    <!--jQueryUI STYLE-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <!-- navbar-->
    <header class="header mb-5">
        <!--
        *** TOPBAR ***
        _________________________________________________________
        -->
        <div id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offer mb-3 mb-lg-0"></div>
                    <div class="col-lg-6 text-center text-lg-right">
                        <ul class="menu list-inline mb-0">
                            @Html.Partial("_LoginPartial")
                            <li class="list-inline-item"><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        </ul>
                        <div id="MessageDisplay">
                            <div class="col-md-10 col-md-offset-1" id="MessageContent"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *** TOP BAR END ***-->
        </div>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand home"><img src="~/Content/img/4ko Logo.png" alt="4KO logo" class="d-none d-md-inline-block"><img src="~/Content/img/4ko Logo.png" alt="4KO logo" class="d-inline-block d-md-none"><span class="sr-only">4KO - Go to Home</span></a>
                <div class="navbar-buttons">
                    <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                    <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button><a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
                </div>
                <div id="navigation" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Home")" class="nav-link class=@if (ViewBag.Title == "4KO")
                            {
                            @Html.Encode(Html.Raw("<html> active </html>"));
                            }
                        ">Home</a>
                        </li>
                        <li id="shopNav" class="nav-item dropdown menu-large">
                            <a href="@Url.Action("Index", "MovieTitles")" class="nav-link class=@if (ViewBag.Title == "Shop")
                            {
                            @Html.Encode(Html.Raw("<html> active </html>"));
                            }
                        ">Shop</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li id="shopNav" class="nav-item dropdown menu-large">
                                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link @if (ViewBag.Title != "4KO" && ViewBag.Title != "Shop" && ViewBag.Title != "Account" && ViewBag.Title != "Details" && ViewBag.Title != "Contact")
                                {
                            @Html.Encode(Html.Raw("<html> active </html>"));
                                }
                        ">Manage<b class="caret"></b></a>
                                <ul class="dropdown-menu megamenu">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <h5>Actor</h5>
                                                <ul class="list-unstyled mb-3">
                                                    <li class="nav-item"><a href="@Url.Action("Index", "Actors")" class="nav-link">See Actors Index</a></li>
                                                    <li class="nav-item"><a href="@Url.Action("Create", "Actors")" class="nav-link">Create</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <h5>Director</h5>
                                                <ul class="list-unstyled mb-3">
                                                    <li class="nav-item"><a href="@Url.Action("Index", "Directors")" class="nav-link">See Director Index</a></li>
                                                    <li class="nav-item"><a href="@Url.Action("Create", "Directors")" class="nav-link">Create</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <h5>Movies</h5>
                                                <ul class="list-unstyled mb-3">
                                                    <li class="nav-item"><a href="@Url.Action("Create", "MovieTitles")" class="nav-link">Create</a></li>
                                                    <li class="nav-item"><a href="@Url.Action("Index", "MovieTitles")" class="nav-link">See Movies Index</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <div class="navbar-buttons d-flex justify-content-end">
                        <!-- /.nav-collapse-->
                        @if (ViewBag.Title == "Shop")
                        {
                            <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
                        }
                        @if (Session["cart"] != null)
                        {
                            <div>
                                @{
                                    Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel> prods = (Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"];
                                    var prodCount = prods.Sum(p => p.Value.Qty);
                                }
                                <a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-primary navbar-btn">
                                    <i class="fa fa-shopping-cart fa-lg"></i>
                                    <sup>@prodCount  @(prodCount > 1 || prodCount == 0 ? "movies" : "movie") in cart</sup>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-primary navbar-btn">
                                    <i class="fa fa-shopping-cart fa-lg"></i>
                                    <sup>Empty</sup>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
        <div id="search" class="collapse">
            <div class="container">
                @if (ViewBag.Title == "Shop")
                {
                    <form role="search" class="ml-auto">
                        <div class="input-group">
                            <div class="col-md-6">
                                @Html.TextBox("SearchString", ViewBag.SearchString as string, new { @placeholder = "Search by Title", @class = "form-control" })
                            </div>
                            <div class="col-md-2 text-center">
                                <input type="submit" value="See Results" class="btn btn-primary" />
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                @Html.ActionLink("Reset", "Index", "MovieTitles", null, new { @class = "btn" })
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </header>
    @RenderBody()
    <!--
    *** FOOTER ***
    _________________________________________________________
    -->
    <div id="footer">
        <div class="container">
            <div class="row text-center">
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-lg-2 col-md-4">
                        <h4 class="mb-3">Admin section</h4>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index", "UsersAdmin")">Manage Users</a></li>
                            <li><a href="@Url.Action("Index", "RolesAdmin")">Manage Roles</a></li>
                        </ul>
                    </div>
                }
                <div class="col-lg-2 col-md-4">
                    <h4 class="mb-3">User section</h4>
                    <ul class="list-unstyled">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 text-center">
                    <h4 class="mb-3">Pages</h4>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Contact", "Home")">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.row-->
        </div>
        <!-- /.container-->
    </div>
    <!-- /#footer-->
    <!-- *** FOOTER END ***-->
    <!--
    *** COPYRIGHT ***
    _________________________________________________________
    -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-2 mb-lg-0">
                    <p class="text-center text-lg-left">©@DateTime.Now David Muolo.</p>
                </div>
                <div class="col-lg-6">
                    <p class="text-center text-lg-right">
                        Template design by <a href="https://bootstrapious.com/">Bootstrapious</a>
                        <!-- If you want to remove this backlink, pls purchase an Attribution-free License at https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- *** COPYRIGHT END ***-->
    <!-- JavaScript files-->
    @Scripts.Render("~/bundles/js")
    <!--jQueryUI script-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--Ajax Script-->
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
