@model PagedList.IPagedList<StoreFront.DATA.EF.MovieTitle>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Shop";
}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item">Shop</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <!--
                    *** MENUS AND FILTERS ***
                    _________________________________________________________
                    -->
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Genre</h3>
                        </div>
                        <div class="card-body">
                            @{
                                StoreFront.DATA.EF.MovieStoreEntities db = new StoreFront.DATA.EF.MovieStoreEntities();
                                var genres = db.Genres.OrderBy(item => item.GenreName).ToList();
                            }
                            <ul class="nav nav-pills flex-column category-menu">
                                @foreach (var genre in genres)
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "MovieTitles", new { genreid = genre.GenreID })" class="nav-link class=@if (ViewBag.GenreID == genre.GenreID)
                                        {
                            @Html.Encode(Html.Raw("<html> active </html>"));
                                        }
                        ">@genre.GenreName</a>
                    </li>
                }
                            </ul>
                        </div>
                    </div>
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Format</h3>
                        </div>
                        <div class="card-body">
                            @{
                                var cats = db.Categories.OrderBy(item => item.Category1).ToList();
                            }
                            <ul class="nav nav-pills flex-column category-menu">
                                @foreach (var cat in cats)
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "MovieTitles", new { catid = cat.CategoryID })" class="nav-link class=@if (ViewBag.CategoryID == cat.CategoryID)
                                        {
                            @Html.Encode(Html.Raw("<html> active </html>"));
                                        }
                        ">@cat.Category1</a>
                    </li>
                }
                            </ul>
                        </div>
                    </div>
                    <div class="banner">
                        <img src="~/Content/img/SliderBanner.png" alt="Logo Banner" class="img-fluid bannerPhoto">
                    </div>
                    <!-- *** MENUS AND FILTERS END ***-->
                </div>
                <div class="col-lg-9">
                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-md-12 col-lg-4 products-showing">
                                <p>
                                    Showing <strong>
    @{
        if (Model.Count < 6 && Model.PageNumber == 1)
        {
            @Html.Encode(Html.Raw(""));
        }
        else if (Model.PageNumber == 2)
        {
            @Html.Encode(Html.Raw("7-"));
        }
        else if (Model.Count < 6)
        {
            int finalCount = ((Model.PageNumber * 6) - Model.Count - 1);
            @Html.Encode(Html.Raw($"{finalCount}"));
        }
        else if (Model.PageNumber == 1)
        {
            @Html.Encode(Html.Raw("1-"));
        }
        else
        {
            int lowCount = (((Model.PageNumber * 6) - 5));
            @Html.Encode(Html.Raw($"{lowCount}" + "-"));
        }
        if (Model.Count == 6)
        {
            int highCount = (Model.PageNumber * Model.Count);
            @Html.Encode(Html.Raw($"{highCount}"));
        }
        else
        {
            @Html.Encode(Html.Raw($"-" + $"{Model.TotalItemCount}"));
        }
    }
</strong> of<strong> @Model.TotalItemCount</strong> movies
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row products">
                        @foreach (var item in Model)
                        {

                            <div class="col-lg-4 col-md-6">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front"><a href="@Url.Action("Details", new { id = item.MovieID } )"><img src="~/Content/img/ProductImages/@item.Image" alt="" class="img-fluid"></a></div>
                                            <div class="back"><a href="@Url.Action("Details", new { id = item.MovieID } )"><img src="~/Content/img/ProductImages/@item.Image" alt="" class="img-fluid"></a></div>
                                        </div>
                                    </div><a href="@Url.Action("Details", new { id = item.MovieID } )" class="invisible"><img src="~/Content/img/ProductImages/@item.Image" alt="" class="img-fluid"></a>
                                    <div class="text">
                                        <h3><a href="@Url.Action("Details", new { id = item.MovieID } )">@Html.DisplayFor(modelItem => item.MovieTitle1) (@Html.DisplayFor(modelItem => item.Category.Category1))</a></h3>
                                        <p class="price">
                                            <del></del>@Html.DisplayFor(modelItem => item.Price)
                                        </p>
                                        @*<p class="buttons"><a href="@Url.Action("Details", new { id = item.MovieID } )" class="btn btn-outline-secondary">View detail</a><a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>*@
                                    </div>
                                    @if (item.Price <= 7.99m)
                                    {
                                        <div class="ribbon sale">
                                            <div class="theribbon">Low Price</div>
                                            <div class="ribbon-background"></div>
                                        </div>
                                    }
                                    <!-- /.ribbon-->
                                    @if (item.ReleaseYear > 2019)
                                    {
                                        <div class="ribbon new">
                                            <div class="theribbon">NEW</div>
                                            <div class="ribbon-background"></div>
                                        </div>
                                    }
                                    <!-- /.text-->
                                </div>
                                <!-- /.product            -->
                            </div>
                        }
                    </div>

                    <div class="col-lg-12 text-center">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString }))
                    </div>
                </div>
                <!-- /.col-lg-9-->
            </div>
        </div>
    </div>
</div>
