@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Role Details";
}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
                <div id="blog-post" class="col-lg-9 text-center">
                    <div class="box text-center">
                        <h1>@ViewBag.Title</h1>
                        <div class="text-center" id="post-content">
                            <dl class="dl-horizontal">
                                <dt>
                                    Role Name
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                            </dl>
                            <h4>List of users in this role:</h4>
                            @if (ViewBag.UserCount == 0)
                            {
                                <hr />
                                <p>No users found in this role.</p>
                            }

                            <table class="table">
                                @foreach (var item in ViewBag.Users)
                                {
                                    <tr>
                                        <td>
                                            @item.UserName
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
                        </p>
                    </div>
                </div>
                <!-- /.box-->
                <!-- /#blog-post-->
                <div class="col-lg-3">
                    <!--
                    *** BLOG MENU ***
                    _________________________________________________________
                    -->
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 panel-title">Manage Directors</h3>
                        </div>
                        <div class="card-body">
                            <ul class="nav flex-column nav-pills">
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a href="@Url.Action("Create", "Directors")" class="nav-link class=@if (ViewBag.Title == "Create Director")
                                        {
                            @Html.Encode(Html.Raw("<html> active </html>"));
                                        }">Create</a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("Index", "Directors")" class="nav-link">Back to Directors</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-3-->
                        <!-- *** BLOG MENU END ***-->
                    </div>
                    <div class="banner"><img src="~/Content/img/SliderBanner.png" alt="Logo Banner" class="img-fluid bannerPhoto"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
